 {% extends "base.html" %}
   {% block content %}
  <div class="border border-slate-200 w-2/5 mx-auto bg-blue-50 rounded-xl mt-5 mb-5 hover:scale-105 transition-transform">
    <h1 class="px-60 mt-5 font-semibold flex justify-normal "> Sing In  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
       <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
       </svg>
    </h1>
    <div class='mx-auto w-1/2 my-9 '>
          {% if messages %}
           {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success'%}bg-green-500{% endif %}">{{message}}</div>
           {% endfor %}
        {% endif %}
        <form method="POST">

            {% csrf_token %}
            {{form.as_p}}
            <button class="bg-blue-500 px-2 py-1 rounded text-gray-50 mt-3 hover:bg-gray-50 hover:text-blue-600" type="submit">Sing in</button>
        </form>
        <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
    </div>
</div>
{% endblock content %} 
  